<header id="m_header_container">
    <nav id="m_header_content">
        <section>
            <img id="header_icon" alt="list_icon" src="{{asset('images/library_icon.png')}}">
        </section>
        <section id="header_links_container">
            <a class="header_links">my books</a>
            <a class="header_links">library</a>
            <a class="header_links">info</a>
        </section>
    </nav>
</header>