.m_container{
    width:70%;

    display: flex;
    justify-content: center;
}

.m_content{
    background-color:rgb(218, 168, 155);

    border-radius: 25px;
    width:100%;

    display: flex;
    justify-content: space-between;

    padding: 10px;
}

#icon{
    width: 50px;
    height: 50px;
}

.item_container{
    display: flex;
    align-items:center;
    gap: 15px;
}

.links{
    background-color: rgb(174, 132, 126);
    border-radius: 25px;
    padding: 10px;
    min-width: 50px;

    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}