*{
    font-family:Arial, Helvetica, sans-serif;
    color:#353535;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;

    //~ tells webpack to look in the build folder
    // background-image: url('../../../public/images/backgrounds/beige-background.jpg');
    background-color:#b5a19f;
    backdrop-filter: blur(10px);
}


//general page styling


.main-content{
    width: 70%;

    /* to make sure the main content takes up an appropriate amount of space on the website if there isnt enough content (it's set too 80 since the header and footer both take up around 15% of the page space) */
    min-height: 80vh;

    display: flex;
    justify-content:center;
}

.main-content-nested{
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fit-main-content{
    width: 100%;
}

.content-containers{
    padding: 10px;

    border-radius: 25px;
}



//padding

.padding{
    padding: 5px;
}

.medium-padding{
    padding: 10px;
}

.large-padding{
    padding: 20px;
}


//display flex

.display-f{
    display: flex;
}

.display-f-column{
    display:flex;
    flex-direction:column;
}

.display-f-row{
    display:flex;
    flex-direction:row;
}

//content spacing (needs to be used with one of the display flex classes)

.content-spacing{
    gap: 10px;
}

.medium-content-spacing{
    gap: 20px;
}

.large-content-spacing{
    gap: 40px;
}

//alignment (needs to be used with one of the display flex classes)

.space-between{
    justify-content: space-between;
}

.align-content-center-x{
    justify-content: center;
}

.align-content-center-y{
    align-items:center;
    align-content:center;
}



//miscellaneous
.links{
    background-color: #937d7a;
    border-radius: 25px;
    padding: 10px;
    min-width: 50px;

    border: none;
    font-size: 15px;

    display: flex;
    justify-content: center;
    text-decoration: none;
}

.hide-symfony-form-label{
    div{
        label{
            display: none;
        }
    }
}

.smooth-corners{
    border-radius: 10px;
}

.remove-default-styling{
    margin: 0;
}