.account-details-container{

    @extend .display-f-column;
    @extend .smooth-corners;

    background-color: #f9e8d6;
  
    width: 100%;

    min-height: 500px;
}

.account-details-content{

    @extend .display-f-column;
    @extend .medium-padding;
    @extend .align-content-center-x;
    @extend .align-content-center-y;
    @extend .large-content-spacing;

    height: 100%;

    p{
        font-size: 20px;
    }
}

.account-info{

    @extend .display-f-column;
    @extend .padding;
    @extend .align-content-center-x;
    @extend .align-content-center-y;
    @extend .content-spacing;

    border-bottom: solid black 2px;

    min-width: 100px;
    max-width: 300px;

    max-height: 250px;
    min-height: 100px;
    
    overflow: auto;
}