.all-books-list-content{
    @extend .display-f-column;
    @extend .content-spacing;
}

.book-list-grid{
    display: grid;

    // determine amount of columns in grid
    grid-template-columns: auto auto auto;
    gap:50px;

    @extend .align-content-center-x;

    height: 620px;
    overflow: auto;
}

.book-image{
    @extend .smooth-corners;
    height: 300px;
    width: 200px;

    border-radius: 10px;
}

.description-container{
    @extend .display-f-row;
    gap: 80px;
}


.filter-bar{

    @extend .display-f-row;
    @extend .space-between;
    @extend .medium-padding;
    @extend .smooth-corners;

    background-color: #dfc9c3;

    .filter-content-blocks{
        @extend .display-f-row;
        @extend .align-content-center-y;
        @extend .content-spacing;
        @extend .hide-symfony-form-label;
    }
}