#book-lists-main-container{
    @extend .display-f-column;
    @extend .align-content-center-x;
}

.book-list-container{
    @extend .smooth-corners;
    background-color: #e1c8b0;
}

.book-list-content{
    @extend .display-f;
    @extend .space-between;
    @extend .align-content-center-y;
    @extend .medium-padding;
}

.book-list-header{
    @extend .display-f-row;
    @extend .space-between;
    @extend .align-content-center-y;
}

.book-list-button{
    @extend .links;
    background-color:#b9a08a;
}

.book-list-creation-button{
    @extend .links;
    @extend .smooth-corners;

    background-color:#e6d0be;
}