.align-items-center{
    align-items:center;
}

.form-parent-container{
    @extend .smooth-corners;
    @extend .medium-padding;

    background-color: #e6d2d2;

    width: 500px;
    height: 650px;
}

.form{
    @extend .display-f-column;
    gap: 40px;

    label{
        font-size: 25px;
    }

    input{
        font-size: 40px;
    }
}

.error{
    color:#ae0707;
    font-size:15px;
}