

#homepage-banner-content{
    display: flex;
    justify-content: space-between;
}

#homepage-banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage-banner-image{
    width:500px;
}